@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(15, 15, 15);
}